@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
$boardFont: 'Open Sans', sans-serif;

@mixin gridConstructor($cols, $rows, $gap: 10px) {
  display: grid;
  grid-template-columns: $cols;
  grid-template-rows: $rows;
  grid-gap: $gap;
}

@mixin flexConstructor($f-dir: column) {
  display: flex;
  flex-direction: $f-dir;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

::placeholder {
  font-family: $boardFont;
  color: #184139;
  font-size: 16px;
}

body {
  height: 100vh;

  @include flexConstructor;

  justify-content: center;
  align-items: center;
  background:
  radial-gradient(
    ellipse farthest-corner at center top,
    #5cdb95 0%,
    #8ee4af 100%
  );
  background-size: cover;
  color: white;

  header {
    padding: 30px;

    .hero-text {
      font-family: $boardFont;
      font-size: 50px;
      font-weight: 900;
      color: #edf5e1;
      text-align: center;
    }
  }

  .app-container {
    width: 80%;
    max-width: 70%;
    height: 500px;
    padding: 50px;
    font-family: $boardFont;
    font-size: 30px;
    font-weight: 300;

    @include gridConstructor(1fr 1fr, 1fr, $gap: 40px);

    justify-items: start;

    button {
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      background: #05386b;
      color: #edf5e1;
      font-family: $boardFont;
      font-size: 16px;
    }

    .board-container {
      @include gridConstructor(1fr, auto 1fr, $gap: 0);

      width: 500px;
      max-width: 70%;

      .board-header {
        @include gridConstructor(1fr auto, 1fr, $gap: 10px);

        font-size: 16px;
        background: #05386b url(./assets/images/sports_esports_black_24dp.svg) 5% 50% no-repeat;
        padding: 20px;
        justify-items: center;
        align-items: center;
        color: #edf5e1;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;

        button {
          background: #edf5e1 url(./assets/images/refresh_black_24dp.svg) 50% 50% no-repeat;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          transition: all 1s;
          animation-duration: 3s;
        }

        .button-cliked {
          background-color: #5cdb95;
          animation-name: rotate;
          cursor: pointer;
        }

        @keyframes rotate {
          0% { transform: rotate(0deg); }
          50% { transform: rotate(180deg); }
          100% { transform: rotate(360deg); }
        }
      }

      .scores-container {
        height: 100%;
        max-height: 300px;
        overflow-y: scroll;
        background: white;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        color: #05386b;
        scrollbar-width: none;

        @include flexConstructor;

        .scores {
          @include gridConstructor(auto 1fr, 1fr, 10px);

          font-size: 16px;
          justify-items: end;
          padding: 10px 20px;
        }

        .scores:nth-child(odd) {
          background: #379683;
          color: #edf5e1;
        }

        .scores:nth-child(even) {
          background: #edf5e1;
          color: #379683;
        }
      }

      .no-refresh {
        display: flex;
        justify-items: center;
        align-items: center;
        background: #edf5e1;

        .plus-circle {
          display: block;
          height: 100%;
          width: 100%;
          background: url(./assets/images/add_circle_black_48dp.svg) 50% 50% no-repeat;
        }
      }

      .scores-container:-webkit-scrollbar {
        display: none;
      }
    }

    .add-score-section {
      @include gridConstructor(1fr, 1fr);

      justify-self: end;
      align-self: start;
      padding: 20px 40px;
      background: white;
      border: none;
      border-radius: 6px;

      form {
        @include gridConstructor(1fr, repeat(3, auto), 20px);

        align-content: center;

        > * {
          padding: 10px;
        }

        input {
          background: #edf5e1;
          font-family: $boardFont;
          color: #05386b;
          font-size: 16px;
          border: none;
          border-radius: 6px;
          box-shadow: 0 0 5px 1px #c7c7c7;
        }

        input:focus {
          outline: none;
        }

        button:hover {
          box-shadow: 0 0 10px 5px #c7c7c7;
          cursor: pointer;
        }
      }
    }
  }
}
